<!--<form action= "/articles" method="POST">-->
<!--  <p>-->
<!--    <label for="name"> Article name:</label>-->
<!--    <input type= "text" name= "name">-->
    
<!--    <label for="content"> Content:</label>-->
<!--    <input type= "text" name= "content">-->
<!--  </p>-->
  
<!--  <input type= "submit" name= "submit">-->
<!--</form>-->

<form action="/articles" method="post">
  Article Title: <input type="text" name="title"><br>
  Article content: <input type="text" name="content"><br>
  <input type="submit" value="submit">
</form>