<h1><%= @article.title %></h1>
<h2><%= @article.content %></h3>

<!--<form method="post" action="/acticles/<%=@article.id%>/delete">-->
<!--  <input type="submit" id="delete" name="delete" value="DELETE">-->
<!--  <input id="hidden" type="hidden" name="_method" value="delete">-->
<!--</form>-->
